<!DOCTYPE html>
<html>
<head>
  <title>Canlis</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="master.css" rel="stylesheet">
  <link href="giftcard.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="master.js"></script>
</head>
<body>
<form action="/charge" method="POST" id="payment-form">
<h1 class="Display1 mb10">Gift Card</h1>
  <span class="payment-errors"></span>
  <div class="FormItem">
    <p>For dinner for two, we recommend $400. Cards are available in any chosen amount. </p>
    <label>
      <span class="Caption ">Amount</span>
      <div class="GiftAmount">
        <input class="Display1 InputGiftAmount" type="text" name="stripeAmount" value="340">
      </div>
    </label>
  </div>
  <div class="FormItem">
    <label>
      <span class="Caption">Recipient Name</span>
      <input class="InputText" type="text" name="recipient_name" >
    </label>
  </div>
  <div class="FormItem mt10">
    <label class="ShippingSelector">
      <input type="radio" name="shipping_preference" value="pickup" id="ShipToPickup" checked="checked">
      <span class="Caption">Pick up at Canlis</span>
    </label>
    <label class="ShippingSelector">
      <input type="radio" name="shipping_preference" value="customer" id="ShipToMe">
      <span class="Caption">Ship to me</span>
    </label>
    <label class="ShippingSelector">
      <input type="radio" name="shipping_preference" value="recipient" id="ShipToRecipient">
      <span class="Caption">Ship to recipient</span>
    </label>
  </div>
  <div class="ShippingInformation">
    <div class="FormItem">
      <label>
        <span class="Caption">Address</span>
        <input class="InputText" type="text" name="shipping_address_line1" >
      </label>
    </div>
    <div class="FormItem">
      <label>
        <span class="Caption">Address (cont.)</span>
        <input class="InputText" type="text" name="shipping_address_line2" >
      </label>
    </div>
    <div class="FormItem">
      <label>
        <span class="Caption">City</span>
        <input class="InputText" type="text" name="shipping_address_city" >
      </label>
    </div>
    <div class="FormItem">
      <label>
        <span class="Caption">State</span>
        <input class="InputText" type="text" name="shipping_address_state" >
      </label>
    </div>
    <div class="FormItem">
      <label>
        <span class="Caption">Zip code</span>
        <input class="InputText" type="text" name="shipping_address_postal_code" >
      </label>
    </div>
    <div class="FormItem">
      <label>
        <span class="Caption">Country</span>
        <input class="InputText" type="text" name="shipping_address_country" >
      </label>
    </div>
  </div>
  <p class="Display2 mt10 mb5">Personal Info & Payment</p>
  <div class="FormItem">
    <label>
      <span class="Caption">Your Name</span>
      <input class="InputText" type="text" data-stripe="name" name="customer_name" >
    </label>
  </div>
  <div class="FormItem">
    <label>
      <span class="Caption">Your Email</span>
      <input class="InputText" type="text" name="stripeEmail" >
    </label>
  </div>
  <div class="FormItem">
    <label>
      <span class="Caption">Card Number</span>
      <input class="InputText" type="text" data-stripe="number" id="cc">
    </label>
  </div>
  <div class="FormItem">
    <label>
      <span class="Caption">Expiration (MM/YY)</span>
      <input class="InputText" type="text" size="2" data-stripe="exp_month" id="ccm">
    </label>
    <span> / </span>
    <input class="InputText" type="text" size="2" data-stripe="exp_year" id="ccy">
  </div>
  <div class="FormItem">
    <label>
      <span class="Caption">Security Code</span>
      <input class="InputText" type="text" size="4" data-stripe="cvc" id="cvv">
    </label>
  </div>
  <input type="submit" class="submit" value="Submit">
</form>
</body>
</html>