
<!DOCTYPE html>
<html>
<head>
  <title>Canlis - Gift Cards</title>
  <meta charset="UTF-8">
  <meta name="description" content="Seattle's landmark fine-dining destination for 68 years, offering contemporary Pacific Northwest fare in a midcentury-modern home.">
  <meta name="author" content="Jeremy P. Beasley / @jeremypbeasley">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Facebook Open Graph Tags -->
  <meta property="og:URL" content="http://canlis.com" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Canlis — Home" />

    <meta property="og:description" content="Seattle's landmark fine-dining destination for 68 years, offering contemporary Pacific Northwest fare in a midcentury-modern home." />


    <meta property="og:image" content="http://canlis.com/uploads/familymeal_share.jpg" />

  <!-- Twitter Sharing Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@canlis">
  <meta name="twitter:title" content="Canlis — Home">

    <meta name="twitter:description" content="Seattle's landmark fine-dining destination for 68 years, offering contemporary Pacific Northwest fare in a midcentury-modern home." />


    <meta name="twitter:image" content="http://canlis.com/uploads/familymeal_share.jpg" />


  <link href="/master.css" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="57x57" href="assets/_favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="assets/_favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="assets/_favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/_favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="assets/_favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/_favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="assets/_favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/_favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/_favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="assets/_favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/_favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/_favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/_favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/_favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="assets/_favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="covid-home">

<div class="OrderFlow d-mb8">

<div class="flex flex-center">
  <div class="col CenterText">
    <a class="NoLine" href="/">
      <img class="CovidLogo mt3 d-mb0 d-ml0 d-mt10" src="https://canlis.com/assets/_img/canlis_logo_new.svg">
    </a>
    <!-- <a href="/" class="Logo ml3 mt3 d-mb10 d-ml0 d-mt0 NoLine">Logo</a> -->
  </div>
</div>

<div class="flex flex-center">
  <div class="WelcomeMessage ml3 mr3 mt8 CenterText">
    <div class="mb2">Unfortunately, we are not selling gift cards online at this time. Please call us at the number below and we'd be happy to help.</div>
    <div class="mb2 Caption">
      <a class="Noline" href="tel:+12062833313">(206) 283-3313</a>
    </div>
  </div>
</div>


<div class="Divider ShowMobile op20"></div>
<footer class="m3 flex flex-center">

  <!-- <a href="tel:2062833313" class="NoLine Caption">(206) 283-3313</a><Br><Br> -->
  <br class="ShowDesktop"/>
  <div class="d-m1 col-fullwidth CenterText d-mb10">&copy 1950 - 2020 Canlis</div>
</footer>
</div>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="/assets/master.js?version=08062020092647"></script>

<!-- Ensure the logo, navigation, and address are inverted (white) only on the home page due to dark background video -->


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-48402864-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-48402864-1');
</script>
</body>
</html>
