<!DOCTYPE html>
<html>
<head>
  <title>Canlis</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link href="master.css" rel="stylesheet">
  <link href="giftcard.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src="master.js"></script>
</head>
<body>
<form action="/charge" method="POST" id="payment-form">
<!-- <h1 class="Display1 mb5">Give the gift of Canlis.</h1>
 -->  <span class="payment-errors"></span>
  <div class="FormItem2 mb2">
    <!-- <p>For dinner for two, we recommend $400. Cards are available in any chosen amount. </p> -->
    <label>
      <span class="Caption">Amount</span>
      <div class="GiftAmount">
        <input class="Display1 InputGiftAmount" type="text" name="stripeAmount" value="350">
      </div>
    </label>
  </div>
  <div class="FormItem">
    <label class="Caption">Recipient Name</label>
    <input class="InputText" type="text" name="recipient_name" >
  </div>
  <p class="Display2 mt5">Shipping</p>
  <div class="ShippingPreference">  
    <ul>
      <li class="ShippingSelector">
        <input type="radio" name="shipping_preference" id="ShipToPickup" value="pickup">
        <label for="ShipToPickup" class="Caption">Pick up at Canlis</label>
        <div class="check"></div>
      </li>
      <li class="ShippingSelector">
        <input type="radio" name="shipping_preference" id="ShipToMe" value="customer">
        <label for="ShipToMe" class="Caption">Ship to me</label>
        <div class="check"><div class="inside"></div></div>
      </li>
      <li class="ShippingSelector">
        <input type="radio" name="shipping_preference" id="ShipToRecipient" value="recipient">
        <label for="ShipToRecipient" class="Caption">Ship to recipient</label>
        <div class="check"><div class="inside"></div></div>
      </li>
    </ul>
  </div>
  <div class="ShippingInformation mt4">
    <div class="FormItem">
      <label class="Caption">Address</label>
      <input class="InputText" type="text" name="shipping_address_line1" >
    </div>
    <div class="FormItem">
      <label class="Caption">Address (cont.)</label>
      <input class="InputText" type="text" name="shipping_address_line2" >
    </div>
    <div class="FormItem">
      <label class="Caption">City</label>
      <input class="InputText" type="text" name="shipping_address_city" >
    </div>
    <div class="FormItem">
      <label class="Caption">State</label>
      <input class="InputText" type="text" name="shipping_address_state" >
    </div>
    <div class="FormItem">
      <label class="Caption">Postal Code</label>
      <input class="InputText" type="text" name="shipping_address_postal_code" >
      <input class="InputText" type="hidden" name="shipping_address_country" >
    </div>
  </div>
  <p class="Display2 mt5 ">Personal Info & Payment</p>
  <div class="FormItem">
    <label class="Caption">Your Name</label>
    <input class="InputText" type="text" data-stripe="name" name="customer_name" >
  </div>
  <div class="FormItem">
    <label class="Caption">Your Email</label>
    <input class="InputText" type="text" name="stripeEmail" >
  </div>
  <div class="FormItem">
    <label class="Caption">Card Number</label>
    <input class="InputText" type="text" data-stripe="number" id="cc">
  </div>
  <div class="FormItem Expiration Month">
    <label class="Caption">Exp. (MM)</label>
    <input class="InputText" type="text" size="2" data-stripe="exp_month" id="ccm">
  </div>
  <div class="FormItem Expiration">
    <label class="Caption">Exp. (YY)</label>
    <input class="InputText" type="text" size="2" data-stripe="exp_year" id="ccy">
  </div>
  <div class="FormItem Expiration">
    <label class="Caption">Security Code</label>
    <input class="InputText" type="text" size="4" data-stripe="cvc" id="cvv">
  </div>
  <input type="submit" class="submit Caption mt5" value="Submit">
</form>
</body>
</html>