<!DOCTYPE html>
<html>
<head>
  <title>Canlis</title>
</head>
<body>

<p>Gift Cards</p>

<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    class="stripe-button"
    data-key= keyPublishable
    data-amount="500"
    data-name="Ojoseyewear"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>

</body>
</html>

